h1{text-align: center;color: brown;}
pre{background-color: bisque;font-family: 'Times New Roman', Times, serif;font-size: 20px; text-justify: auto;}
img{float:left;width:300px;height:400px;}
p{text-align: center;}